<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/styles.css">
    
        </head>
    <body>
        <div class="main-content">
             <link rel="icon" href="/img/weather.png">
             <p>{{errormessage}}</p>
 {{>header}}
        </div>
    
    
       {{>footer}}
      
    </body>
</html>