<!DOCTYPE html>
<html>
    <head>
        <title> About</title>
         <link rel="icon" href="/img/weather.png">
       <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body style="background-color: blueviolet;">

        <div class="main-content">
  {{>header}}
        <p style="background-color:blue; ">this site was created by rohit anand</p>
        <p style="background-color:blue;">This website uses data from various standard weather api's.</p>
       

        </div>
      
         {{>footer}}
        
    </body>
</html>