

<h1>{{title}}</h1>

<div>
    <a   href="/"><p style="backgrcolor: rgba(224, 235, 224, 0.842);">home</p></a>
    <a   href="/about"><p style="color: rgb(236, 243, 236);">about</p></a>
    <a  href="/help"><p style="color: rgba(229, 240, 229, 0.884);">help</p></a>
</div>